.kb {
	MARGIN: 10px 20px
}
.kb SPAN.pLink {
	DISPLAY: none; FONT-WEIGHT: normal; FONT-SIZE: 85%
}
.kb .toc IMG {
	VERTICAL-ALIGN: bottom; WIDTH: 10px; MARGIN-RIGHT: 3px; HEIGHT: 10px
}
.kb .topOfPage IMG {
	VERTICAL-ALIGN: bottom; WIDTH: 10px; MARGIN-RIGHT: 3px; HEIGHT: 10px
}
.kb TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.kb H1.title {
	FONT-SIZE: 150%; MARGIN: 0px 0px 10px
}
.kb H2 {
	FONT-SIZE: 125%
}
.kb H3 {
	FONT-SIZE: 115%
}
.kb H4 {
	FONT-SIZE: 105%
}
.kb H5 {
	FONT-SIZE: 95%
}
.kb H6 {
	FONT-SIZE: 85%
}
.kb .graphic {
	MARGIN: 2px
}
.kb .message {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.kb .errormsg {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; FONT-WEIGHT: bold; PADDING-BOTTOM: 10px; COLOR: #f00; PADDING-TOP: 10px
}
.kb DIV.author {
	MARGIN: 0px
}
.kb DIV.author .label {
	FONT-WEIGHT: bold
}
.kb DIV.appliesToLink {
	MARGIN: 10px 0px
}
.kb DIV.csDisclaimerLink {
	MARGIN: 10px 0px
}
.kb DIV.csDisclaimerLink IMG {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 6px
}
.kb DIV.mtDisclaimerLink IMG {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 6px
}
.kb DIV.mtDisclaimerLink {
	MARGIN: 10px 0px
}
.kb DIV.disclaimer {
	MARGIN: 10px 0px
}
.kb DIV.cc {
	BORDER-RIGHT: #c5dae8 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #c5dae8 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#EAF1F7', gradientType='0'); PADDING-BOTTOM: 8px; BORDER-LEFT: #c5dae8 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #c5dae8 1px solid; HEIGHT: 10px; BACKGROUND-COLOR: #eaf1f7
}
.kb DIV.mt {
	BORDER-RIGHT: #c5dae8 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #c5dae8 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#EAF1F7', gradientType='0'); PADDING-BOTTOM: 8px; BORDER-LEFT: #c5dae8 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #c5dae8 1px solid; HEIGHT: 10px; BACKGROUND-COLOR: #eaf1f7
}
.kb DIV.retiredkb {
	BORDER-RIGHT: #c5dae8 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #c5dae8 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#EAF1F7', gradientType='0'); PADDING-BOTTOM: 8px; BORDER-LEFT: #c5dae8 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #c5dae8 1px solid; HEIGHT: 10px; BACKGROUND-COLOR: #eaf1f7
}
.kb DIV.cc IMG {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 6px
}
.kb DIV.mt IMG {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 6px
}
.kb DIV.retiredkb IMG {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 6px
}
.kb DIV.mt .text {
	FONT-WEIGHT: normal
}
.kb DIV.disclaimer .label {
	MARGIN: 0px 0px 5px
}
.kb DIV.securedisclaimer {
	MARGIN: 1px 0px
}
.kb DIV.securesection {
	MARGIN: 1px 0px
}
.kb DIV.securedisclaimer HR {
	BORDER-RIGHT: #e92 1px solid; BORDER-TOP: #e92 1px solid; MARGIN: 5px auto; BORDER-LEFT: #e92 1px solid; BORDER-BOTTOM: #e92 1px solid; BACKGROUND-COLOR: #efba43
}
.kb DIV.securesection HR {
	BORDER-RIGHT: #e92 1px solid; BORDER-TOP: #e92 1px solid; MARGIN: 5px auto; BORDER-LEFT: #e92 1px solid; BORDER-BOTTOM: #e92 1px solid; BACKGROUND-COLOR: #efba43
}
.kbhf {
	PADDING-RIGHT: 15px; BORDER-TOP: #e92 2px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #e92 2px solid
}
.kb DIV.securedisclaimer .seclabel {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px; TEXT-TRANSFORM: uppercase; COLOR: #c60; TEXT-ALIGN: center
}
.kb DIV.securedisclaimer .label {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px; TEXT-TRANSFORM: uppercase; COLOR: #c60; TEXT-ALIGN: center
}
.kb DIV.securesection .seclabel {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px; TEXT-TRANSFORM: uppercase; COLOR: #c60; TEXT-ALIGN: center
}
.kb DIV.securesection .label {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px; TEXT-TRANSFORM: uppercase; COLOR: #c60; TEXT-ALIGN: center
}
.kbhf .label {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px; TEXT-TRANSFORM: uppercase; COLOR: #c60; TEXT-ALIGN: center
}
.kbhf .label {
	MARGIN-TOP: 15px
}
.kb DIV.securesection .secdisclaimer {
	TEXT-ALIGN: center
}
.kb DIV.securedisclaimer .text {
	MARGIN: 0px 10px
}
.kb DIV.securesection .text {
	MARGIN: 0px 10px
}
.kb DIV.securesection .text {
	MARGIN: 0px 0px 10px
}
.kb DIV.notice {
	MARGIN: 10px 0px
}
.kb .notice H5 {
	MARGIN: 8px 0px
}
.kb DIV.notice DIV.notice {
	FONT-SIZE: 100%
}
.kb DIV.articleProperty {
	BORDER-RIGHT: #dedede 1px solid; BORDER-TOP: #dedede 1px solid; BACKGROUND: #f9f9f9; MARGIN: 5px 5px 1em; BORDER-LEFT: #dedede 1px solid; BORDER-BOTTOM: #dedede 1px solid
}
.kb DIV.partner {
	BORDER-RIGHT: #e92 1px solid; BORDER-TOP: #e92 1px solid; BACKGROUND: #ffefb0; BORDER-LEFT: #e92 1px solid; BORDER-BOTTOM: #e92 1px solid
}
.kb DIV.articleProperty TABLE {
	MARGIN: 10px; BORDER-COLLAPSE: collapse
}
.kb DIV.partner TABLE {
	MARGIN: 0px 10px 10px
}
.kb DIV.partner TABLE CAPTION {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 75%; PADDING-BOTTOM: 4px; COLOR: #c60; PADDING-TOP: 10px
}
.kb DIV.articleProperty TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; WHITE-SPACE: nowrap
}
.kb .toc H5 {
	FONT-SIZE: 120%; MARGIN: 0px 0px 3px
}
.kb .toc .tallTable {
	BORDER-COLLAPSE: collapse
}
.kb .toc .hfdl {
	DISPLAY: none
}
.kb .toc .tallTable TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10%; PADDING-BOTTOM: 0px; WIDTH: 10px; PADDING-TOP: 4px
}
.kb .toc .tallTable TD.text {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 70%; PADDING-BOTTOM: 1px; WIDTH: 100%; PADDING-TOP: 1px
}
.kb .toc .tallTable SPAN {
	WIDTH: 10px
}
.kb .section .table {
	MARGIN-TOP: 10px
}
.kb .section .table TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 70%; BACKGROUND: #cecfce; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.kb .section .table TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 70%; BACKGROUND: #f7f7ff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.kb .list {
	MARGIN: 0px
}
.kb .list .list {
	MARGIN: 0px
}
.kb .list .bullet {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.kb .list .text {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px
}
.kb .section H2.subTitle {
	MARGIN: 15px 0px 5px; COLOR: #000
}
.kb .section H3 {
	MARGIN: 15px 0px 5px
}
.kb .section H4 {
	MARGIN: 10px 0px 5px
}
.kb .section H5 {
	MARGIN: 8px 0px 5px
}
.kb .section H6 {
	MARGIN: 8px 0px 5px
}
.kb HR.divider {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; COLOR: #ddd; BORDER-BOTTOM: medium none; HEIGHT: 2px
}
.kb HR {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; COLOR: #ddd; BORDER-BOTTOM: medium none; HEIGHT: 2px
}
.kb DIV.indent {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.kb DIV.indent DIV.indent {
	MARGIN: 10px
}
.kb DIV.sbody DIV.sbody {
	MARGIN: 0px 0px 10px
}
.kb DIV.sbody SPAN.abbr {
	CURSOR: help; BORDER-BOTTOM: #000 1px dotted
}
.kb DIV.sbody ACRONYM {
	CURSOR: help; BORDER-BOTTOM: #000 1px dotted
}
.kb DIV.sbody .code {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #dedede; PADDING-BOTTOM: 3px; MARGIN: 5px; COLOR: black; PADDING-TOP: 3px
}
.code {
	DIRECTION: ltr! important
}
.kb DIV.sbody DIV.center {
	TEXT-ALIGN: center
}
.kb DIV.sbody FIELDSET {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.kb .list {
	MARGIN: 10px 5px; BORDER-COLLAPSE: collapse; border-spacing: 0
}
.kb .appliesTo .list {
	MARGIN: 0px 10px
}
.kb DIV.sbody .list TD {
	BORDER-TOP: #fff 1px solid; BACKGROUND: #f7f7ff
}
.kb DIV.sbody .list .image {
	VERTICAL-ALIGN: top; WIDTH: 16px
}
.kb .bullet {
	FONT-SIZE: 80%; VERTICAL-ALIGN: top; WIDTH: 1em; TEXT-ALIGN: center
}
.kb DIV.sbody .list .number {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px; WHITE-SPACE: nowrap
}
.kb DIV.sbody .list .text {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.kb DIV.sbody .sTable TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.kb .appliesTo .list TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 65%; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.kb .appliesTo .list TD.bullet {
	FONT-SIZE: 70%
}
.kb .appliesTo .list TD.textSub {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.kb DIV PRE {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 1em; COLOR: maroon; PADDING-TOP: 0.5em; FONT-FAMILY: "courier new", courier, monospace; BACKGROUND-COLOR: #eee
}
.kb PRE.in_text {
	COLOR: black
}
.kb .topOfPage {
	MARGIN: 5px 0px 10px
}
.kb .topOfPage TD {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
.kb .topOfPage TD.text {
	WIDTH: 100%
}
.kb .appliesTo H5 {
	FONT-SIZE: 110%; MARGIN: 5px 0px
}
.kb .userInput {
	FONT-WEIGHT: bold; MARGIN: 10px 0px
}
.kb .keywords {
	MARGIN: 15px 0px 10px
}
.kb .keywords TD {
	VERTICAL-ALIGN: bottom
}
.kb .keywords TD.header {
	VERTICAL-ALIGN: top
}
.kb .keywords TD.header H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 105%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
.kb .weboutput TABLE {
	BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; WIDTH: auto; BORDER-TOP-COLOR: #000; BORDER-COLLAPSE: collapse; BORDER-RIGHT-COLOR: #000
}
.kb .weboutput TABLE TH {
	BACKGROUND: #dedede
}
.kb .weboutput TABLE TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 70%; BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; PADDING-BOTTOM: 3px; BORDER-TOP-COLOR: #000; PADDING-TOP: 3px; BORDER-RIGHT-COLOR: #000
}
.kb .weboutput TABLE TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 70%; BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; PADDING-BOTTOM: 3px; BORDER-TOP-COLOR: #000; PADDING-TOP: 3px; BORDER-RIGHT-COLOR: #000
}
.kb .weboutput TABLE TH FONT {
	FONT-SIZE: 95%
}
.kb .weboutput TABLE TD FONT {
	FONT-SIZE: 95%
}
.kb .qa .notice {
	FLOAT: left
}
.kb .qa .section .label {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 220%; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; COLOR: #00f; PADDING-TOP: 0px; POSITION: relative; TOP: -5px
}
.kb .qa .bigspace {
	HEIGHT: 50px
}
.kb .qa .smallspace {
	HEIGHT: 20px
}
.kb .tt .section H2.subTitle {
	COLOR: #000
}
.kb .sc .section HR.hidden {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #fff
}
.kb .sc .section DIV.blurb {
	MARGIN-BOTTOM: 20px
}
.kb .sc .section .more {
	MARGIN-TOP: 20px
}
.kb .sc .section .textQuestion {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
.kb .sc .section .textAnswer {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
.kb .sc .section .textQuestion {
	BACKGROUND-COLOR: #fffff3
}
.kb .sc .section .textAnswer {
	BACKGROUND-COLOR: #f6f6ff
}
.kb .sc .section .imgQuestionColumn {
	VERTICAL-ALIGN: top
}
.kb .sc .section .imgAnswerColumn {
	VERTICAL-ALIGN: bottom
}
.kb .sc .section .qImg {
	MARGIN: 2px
}
.kb .sc .section .aImg {
	MARGIN: 2px
}
.kb .sc .section .qImg {
	BORDER-RIGHT: #999 3px solid
}
.kb .sc .section .aImg {
	BORDER-LEFT: #999 3px solid
}
.kb .si .section .graphic {
	FLOAT: left; MARGIN: 5px
}
.kb .articleProperty {
	FLOAT: right
}
.kb .awbkg {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff', endColorStr='#e7fbd5', gradientType='1'); BACKGROUND-COLOR: #e7fbd5
}
.kb .awbkg .desc {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.kb .awbkg .title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.AWlink {
	MARGIN-TOP: 20px; TEXT-ALIGN: center
}
.AWlink A {
	BORDER-RIGHT: green 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: green 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: green 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: green 1px solid; BACKGROUND-COLOR: #e7fbdf
}
.tocLine {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.tocTxt {
	DISPLAY: block; MARGIN: -11px 10px 0px
}

@media Print    
{
#contentArea {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important
}
.kb .topOfPage {
	DISPLAY: none
}
.kb .toc {
	DISPLAY: none
}
.kb .appliesToLink {
	DISPLAY: none
}
.kb .csDisclaimerLink {
	DISPLAY: none
}
.kb .kbdllink {
	DISPLAY: none
}
.kb SPAN.pLink {
	DISPLAY: inline
}
#kb {
	MARGIN: 5px 0px 0px; WIDTH: auto! important
}
.kb {
	MARGIN: 5px 0px 0px; WIDTH: auto! important
}

}
